header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Add some space below the header */
body {
  padding-top: 70px;
}

/* Style the content */
.content {
  padding: 20px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none;
}

.load-more-button:hover {
  background-color: #2980b9;
}
.btn-hidden {
  display: block;
}
